ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: 100%;
  overflow: auto;
  background-color: var(--color-blue-200);

  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--color-blue-500);
    height: 200px;

    &:hover {
      border: 2px solid var(--color-yellow-100);

      div.info {
        transition: all 0.5s;
        padding: 15px 10px;
        text-align: center;
        width: 100%;
      }
    }

    > .name {
      color: var(--color-white);
      font-size: x-large;
      text-shadow: 2px 2px var(--color-black);
      display: block;
    }

    > .content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;

      > div {
        color: var(--color-white);
        font-size: large;
        text-shadow: 2px 2px var(--color-black);
      }
    }
  }
}

.no-items {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@media (min-width: 600px) {
  .container {
    padding: 0px 0px;
    height: 100%;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 260px;
  }
}

@media (min-width: 1000px) {
  .card {
    max-width: 350px;
    width: 45%;
  }
}
