<header>
  <div class="container">
    <div class="input-search">
      @if (toggleSearch() || isLargeScreen()) {
      <input
        type="text"
        name="search"
        id="search"
        [formControl]="search"
        ngDefaultControl="search"
      />
      }
      <button type="button" (click)="handleSearch()">
        <span [class]="toggleButtonClass()">search</span>
      </button>
    </div>
    <select
      name="page"
      id="1"
      [formControl]="togglePage"
      ngDefaultControl="togglePage"
      (change)="handlePage()"
    >
      <option value="character">Character</option>
      <option value="episode">Episode</option>
    </select>
  </div>
</header>
