:root {
  --color-blue-100: rgb(14, 92, 182);
  --color-blue-200: rgb(87, 162, 251);
  --color-blue-300: rgb(82, 165, 211);
  --color-blue-400: rgb(109, 188, 222);
  --color-blue-500: rgb(125, 191, 255);
  --color-blue-600: rgb(136, 210, 233);
  --color-blue-700: rgb(162, 233, 244);
  --color-blue-800: rgb(189, 255, 255);


  --color-yellow-100: rgb(255, 228, 37);
  --color-yellow-200: rgb(230, 233, 50);
  --color-yellow-300: rgb(238, 238, 73);
  --color-yellow-400: rgb(255,254,125);

  --color-white: white;
  --color-black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Inter;
  height: 100vh;
}

ul, ol {
  list-style: none;
}

.container {
    padding: 0 5px;
}

@media (min-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}
